*{
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    padding: 1rem;
    background-color: #F96800;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 2;
    color: white;
}
ul{
    list-style: none;
}
header ul{
    display: flex;
    gap: 1em;
}
header ul li a{
    color: white;
    text-decoration: none;
}
header img{
    max-height: 1.5rem;
}
main{
    max-width: 60%;
    margin-inline: auto;
    display: flex;
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.article{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;


}
.article-img{
    position: relative;
    max-width: 100%;
    z-index: 1;
   
}
.article-img .first-img{
    max-width: 100%;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
}
.article-img .second-img{  
    max-width: 100%;
    
 
}
.article-img .first-img:hover{
    opacity: 0%;
    max-width: 100%;

}
.article-img .flag{
    font-size: 0.5rem;
    position: absolute;
    bottom: 2rem;
    left: 0;
    
}
.article-img .flag .flag-r{
    background-color: red;
}
.article-img .flag .flag-g{
    background-color: green;
    margin-left: 0.5em;
}
.like{
    color: white;
    background-color: black;
    font-size: 1rem;
    padding: 0.4em 0.4em 0.2em 0.4em ;
    position: absolute;
    top: 2rem;
    right: 0;
}
.like:hover{
    background-color: #F96800;
}


footer{
    background-color: #1A1A1A;
    padding: 2rem;
    display: flex;
    color: white;
    justify-content: space-between;
}
h5{
    margin-bottom: 1em;
}